<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:include="fragments/header"></th:block>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div></div>



                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Config Reistry Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Disclamer Note</th>
                                <th>Data Accuracy %</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                <tr  th:each="generalParameter :${generalParameters}">

                                    <td th:text="${generalParameter.disclamer}"></td>
                                    <td th:text="${generalParameter.percentageAccuracy}"></td>


                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div th:replace="fragments/footer ::footer"></div>