
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:include="fragments/header"></th:block>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">User Details List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Roles</th>
                                </thead>
                                <tbody>

                                <tr  th:each="user :${users}">

                                    <td th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td><a th:href="@{'/delete-user/'+ ${user.id}}" class="btn btn-info custom-width">Delete</a>
                                    </td>


                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div th:replace="fragments/footer ::footer"></div>