<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:include="fragments/header"></th:block>

<div class="content">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Council Registry Details</h4>



                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>DB Name</th>
                                <th>DB Username</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                <tr th:each="registry :${registryCredentialsList}">

                                    <td th:text="${registry.name}"></td>
                                    <td th:text="${registry.dbUserName}"></td>

                                    <td><a th:href="@{'/registry/sync-registry/'+ ${registry.name}}"
                                           class="btn btn-info custom-width">Sync</a>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Course Add </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">




        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

        </div>
    </div>
</div>
</div>



<div th:replace="fragments/footer ::footer"></div>