<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">

<footer class="footer" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.hitrac.co.zw">
                        Hitrac
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Hitrac</a> for a better web.
        </div>
        <!-- your footer here -->
    </div>
</footer>
</div>
</div>
<!--   Core JS Files   -->
<script th:src="@{admin/js/core/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{admin/js/core/popper.min.js}" type="text/javascript"></script>
<script th:src="@{admin/js/core/bootstrap-material-design.min.js}" type="text/javascript"></script>
<script th:src="@{admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>

<script th:src="@{admin/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{admin/js/material-dashboard.min.js}" type="text/javascript"></script>
</body>

</html>