<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">

<script src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="../../static/js/jquery-ui.min.js"></script>
<footer class="footer" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.hitrac.co.zw">
                        Hitrac
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Hitrac</a> for a better web.
        </div>
        <!-- your footer here -->
    </div>
</footer>
</div>
</div>






</body>

</html>